
/********************* Carrousel banner home ************************/
            
 .background-header img, svg {
  max-width: 100% !important;
  height: auto;
}

.point { 
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    r:8.083;
  }

  to {
    r:6.083;
  }
}

.cirle { 
  animation-duration: 1s;
  animation-name: slidein3;
  animation-iteration-count: infinite;
}

@keyframes slidein3 {
  from {
      r:12.083;
  }

  to {
      r:8.083;
  }
}
/********************* hover title product ************************/

#rectangle-meuble {
  opacity: 0;
}

#meuble-tele {
cursor: pointer;
}

.background-header #meuble-tele:hover + #rectangle-meuble {
opacity: 1;
}

/**/

#rectangle-meuble-exterieur {
opacity: 0;
}

#meuble-exterieur {
cursor: pointer;
}

.background-header #meuble-exterieur:hover + #rectangle-meuble-exterieur {
opacity: 1;
}

/********************* width buton next prev ************************/
.carousel-control-prev {
  width: 5%;
}
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev {
  width: 5%;
}
.carousel-control-next {
  width: 5%;
}


/********************* Carrousel banner home ************************/

/********************* menu hamberger ************************/

.menu-hamberger {
  z-index: 999;
}

.menu-hamberger span {
  font-family: 'Spartan-Bold';
}

.dropdown-menu {
  background: none;
  border: none;
}

.dropdown-menu a {
color: white;
font-family: 'Spartan-Bold';
}



/* menu style */
.menu_style a{
  text-decoration: none;
}
.menu_style{
  padding-top: 20px;
  position: absolute;
  z-index: 10;
}
.menu_style #link_acceuil{
  font-family: 'spartan-bold';
  color: #FFFFFF;
  font-size: 18px;
}
.menu_style #acc{
  font-family: 'spartan-bold';
  color: #FFFFFF;
  font-size: 18px;
}
.menu_style .img_icon_menu{
  padding-right: 5px;
  padding-bottom: 5px;
}
.menu_style .item_menu{
  font-family: 'spartan-bold';
  color: #FFFFFF;
  font-size: 12px;
  padding-left: 35px;
  background: transparent !important;
  outline: none;
}
.menu_style .item_menu:hover , .menu_style .item_menu:active{
  background: transparent !important;
  outline: none;
}
@media only screen and (max-width: 767px) {
  .menu_style{
    display: none;
  }
}