/********************* Carrousel blog ************************/


#carouselExampleIndicators .carrousel-img {
    margin-top:30px;
}
.h2-blog {
    margin-bottom:25px;
    color: #987230;
    font-family: 'Spartan-Bold';
    font-size: 31px;
}

.carrousel-img img{
    max-width: 100% !important;
    height: auto;
  }

.description-bloc {
    font-family:Spartan-Light;
    color: #987230;
    font-size: 16px;
    text-align: justify;
}

/* .carousel-control-next, .carousel-control-prev {
    position: inherit !important;
    width: 30px !important;
} */
.carousel-control-next, .carousel-control-prev {
    position: inherit  !important;
    margin-top: 20px;
    width:5% !important;
}
/* back_to_top */
.back-to-top {
    position:fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5000;
    border: none !important;
    outline: none;
  }
  .back-to-top:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .carrousel-img {
      display: flex;
      flex-direction: row;
  }


  
@media only screen and (max-width: 767px){
    .carrousel-img {
        display: flex;
        flex-direction: column;
    }
     .span-blog {
        font-size:12px;
    }
    #slider-blog1 .carousel-control-next {
        margin-left: 15px;
    }
}

/********************* section actualités ************************/

#blog .h2_title {
  color: #987230;
  text-align: left;
  font-family: 'Spartan-Bold';
  font-size: 31px;    
 
}

#blog a{
    text-decoration: none;
    color: #AF7F41;;
    float:right;
    font-weight: 600;
    font-size: 18px;
}
#blog .row {
    justify-content: space-evenly;
}
#blog h3, #blog h5 {
    color:#987230;
}
#blog h5 {
    margin:15px 0px;
    font-weight: 400;
}
#blog p {
    text-align: justify;
    color: #858585;
    font-size: 16px;
}
#blog img {
    width:100%;
    margin-top:20px;
}
#blog .image-div {
    width:100% !important;
}
#blog .image-div #img-blog1 {
    width:100% !important;
}
#blog .image-div #img-blog2 {
    width:100% !important;
}

@media only screen and (max-width: 767px){

#blog a{
    font-size: 14px;
}

#blog img {
    margin-top:5px;
    margin-bottom: 20px;
}
}


/* counter-wishlist */
#counter-wishlist{
    cursor: pointer;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    background-color: #987230;
    border-radius: 25px;
    color: white;
    z-index: 2;
    left: 52%;
    bottom: 41%;
    font-size: 11px;
    line-height: 1.6;
  }
  #wishlist-a{
    position: relative;
  }