#section-contact
{
    margin-top: 40px;
}
#form-contact
{
    padding: 20px;
    margin-top: 15px;
    border:1px solid #987230;
}
#form-contact h1
{
    font-size: 1.85rem;
    font-family: 'Spartan-Bold';
    margin-bottom: 40px;
}
#form-contact h2,label
{
    font-size: 1.5rem;
    font-family: 'Spartan-Bold';
    color:#987230;
}


#form-contact2
{
    padding: 20px;
    margin-top: 15px;
    border:1px solid #987230;
}
#form-contact2 h1
{
    font-size: 1.85rem;
    font-family: 'Spartan-Bold';
    margin-bottom: 40px;
}
#form-contact2 h2,label
{
    font-size: 1.5rem;
    font-family: 'Spartan-Bold';
    color:#987230;
}
.header-form
{
    border:1px solid #987230;
    padding: 40px;
    text-align: center;
}
.contact-body
{
    margin-top: 40px;
}
.form-check-label
{
    font-size: .8rem!important;
}
.form-check
{
    text-align: left;
}
.form-group
{
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.info-tel
{
    font-size: .9rem;
    color: #987230;
    margin-top: 22px;
    font-family: 'Spartan-Bold';
}
#section-contact-mobile {
    display:block;
}
.btn-submit
{
    background-color: #987230;
    color:#FFF;
    font-family: 'Spartan-Bold';
    border-radius: 5px !important;
    padding: 20px !important;
}

/**============================================
 *               PARTIE MOBILE
 *=============================================**/
@media screen and (min-width: 320px)  and (max-width: 1024px) {
    .header-form
    {
        border: none !important;
        padding: 0 !important;
    }
    #form-contact2 h1
    {
        font-size: 1.5rem;
    }
    #form-contact2 h2
    {
        font-size: 1.2rem;
    }
    #form-contact2 label
    {
        font-size: 1rem;
    }
    #section-contact-mobile {
        display:block;
    }
    #section-contact {
        display:block;
    }
    #form-contact2 .h2_mobile {
        margin-top: 20px;

    }
    .rs_div_contact
    {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        width:100%;
        justify-content: center;
        margin-left: 0px !important;
    }
    /* google maps responsive */
    .iframe-container{
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    }
    .iframe-container > *{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 60px auto;
      padding: 0;
      height: 100%;
      width: 100%;
    }

}
/**============================================
 *               Menu MOBILE
 *=============================================**/


.header-mobile{
    display: none;
  }
  @media only screen and (max-width: 767px) {
    .heady{
      display: none;
    }
    .header-mobile{
      padding: 9px 0;
      display: block;
    }
    #banner_carousel .dropdown{
      display: none;
    }
    .header-mobile .mobile{
      width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
    }
  }
/**============================================
  *               PARTIE IPADPRO
  *=============================================**/
  @media (max-width: 1169px) and (min-width: 992px)
  {
        /* google maps responsive */
        .iframe-container{
          position: relative;
          width: 100%;
          padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
        }
        .iframe-container > *{
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0 0 0 15px;
          padding: 0;
          height: 100%;
          width: 100%;
        }
  }
  
  #menuToggle
  {
    display: block;
    position: relative;
    left: 17px;
    padding-left: 10px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover
  {
    color: #987230;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #987230;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
{
  padding: 7px 0;
  color: #987230;
  font-size: 17px;
}
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }


/**========================================================================
 *                           SECTION CONTACT SEND MAIL
 *========================================================================**/

 .titre-connexion-espace
 {
   color:#4C4C4B;
   font-size: 2.2rem;
   text-align: center;
   margin-bottom: 30px;
 }
 .brown-text
 {
   color:#987230;
 }
 .cnx-box
 {
  box-shadow: 0px 0px 15px rgb(29 49 82 / 30%);
 
  background: #fff;
  border-radius: 10px;
  padding: 0px 70px !important;  
 }
 #contact form#form-contact label
 {
   color:#4C4C4B;
   font-size: .8rem;
   font-family: 'Spartan-Bold';     
 }
 #contact form#form-contact
 {
   border: none !important;
 }
 #contact form#form-contact input,#contact form#form-contact textarea
 {
    background-color: rgba(250, 252, 254, 1);
    border: 1px solid #987230 !important;
    height: 40px !important;
    border-radius: 10px !important;
    outline: none;
 }
 #contact form#form-contact textarea
 {
   height: auto !important;
 }
 #contact form#form-contact input:focus
 {
  border: 1px solid #987230 !important;
 }
 .reset-password
 {
   text-align: center;
   color: #987230;
   font-family: 'spartan-light';
 }
 .btn-submit
 {
  border: none !important;
  border-radius: 10px !important;
  color: white !important;
  height: 60px !important;
  width: 100% !important;
  font-size: 18px !important;
  font-family: 'Spartan-Bold' !important;
  line-height: 22px !important;
  cursor: pointer !important;
  background: #987230 !important;
  position:absolute;
  top: -40px;
 }
 .btn-submit-container
 {
   position: relative;
   top: 40px;
 }
 .btn-submit-container .form-group
 {
   margin-top: 0;
 }
 
/* back_to_top */
.back-to-top {
  position:fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5000;
  border: none !important;
  outline: none;
}
.back-to-top:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

a.item_menu.dropdown-item:hover {
  color: #fff;
}


/* counter-wishlist */
#counter-wishlist{
  cursor: pointer;
  position: absolute;
  width: 17px;
  height: 17px;
  text-align: center;
  background-color: #987230;
  border-radius: 25px;
  color: white;
  z-index: 2;
  left: 52%;
  bottom: 41%;
  font-size: 11px;
  line-height: 1.6;
}
#wishlist-a{
  position: relative;
}