/**========================================================================
 *                           SECTION DETAILS PRODUIT
 *========================================================================**/
h1{
    color:#987230;
    font-size: 1.85rem;
}
.prix
{
    color:#987230;
    font-size: 1.85rem;
    margin-bottom: .5rem;
}
.description
{
    color:#987230;
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
}
select,select:active,select:focus
{
    border: none;
    width: 70%;
    color: #987230;
    text-align: center;
    margin: 0 auto;
    font-size: 1.8rem !important;
    outline: none;    
}
.proprietes-produit .row
{
    justify-content: center;
    border: 1px solid #987230;
    padding: 20px 0;
}



/* carousel categories */
.owl-carousel  {
    text-align: center;
}
.owl-carousel1  {
  text-align: center;
}
.item {
    align-items: center;
    display: flex;
    width:100%;
    flex-direction: column;
    text-align: left;
  }
.item .image {
    height:265px;
    width:100%;
    
  
  }
  .item p{
    width:100%;
    margin: 0px;
    padding-top:10px;
    margin-left:5px;
    color: #987230;
  }
  .div_image1 {
    width:100%;
    padding-top:10px;
    margin-left:5px;
  }
  .div_image2 {
    width:100%;
    margin-left:5px;
  }
  .icons {
      width:auto !important ;
  }
  .text {
    border-left:1px solid #987230;
    width:100%;
    margin-top:5px;
   
  }
  .class-p1 {
    font-size: 15px;
  }
  .class-p2 {
    font-size: 12px;
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: none !important;
    color: #987230 !important;
    border: none;
    font: inherit;
    font-size: 35px !important;
    outline: none !important;
    
    margin:0px 10px !important;

    
}
.owl-carousel1 .owl-nav button.owl-next, .owl-carousel1 .owl-nav button.owl-prev, .owl-carousel1 button.owl-dot {
  background: none !important;
  color: #987230 !important;
  border: none;
  font: inherit;
  font-size: 35px !important;
  outline: none !important;
  
  margin:0px 10px !important;

  
}
.owl-theme .owl-nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

/**========================================================================
 *                           SECTION BOUTONS AJOUT & TABS
 *========================================================================**/
.btn-add
{
    background-color: #987230;
    color: #fff;
    padding: 14px;
    width: 100%;
    font-family: 'Spartan-Bold';
}
.icon
{
    width: 20px;
}
.nav-tabs
{
    border-bottom: 0;
}
.nav-link,.nav-link.active
{
    background-color: #987230 !important;
    color:#fff !important;
    padding: 14px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-align: center;
    font-family: 'Spartan-Bold';
    width: 100%;
}
.nav-item::after
{
    content: '';
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 60px;
    left: 166px;
}
.label-qty
{
    font-size: .6rem;
    color:#987230;
    font-family: 'Spartan-Bold';

}
.btn-plus,.btn-moins,#qty,#qty:focus
{
    border: 1px solid #543A23 !important;
    background-color: #fff;
    border-radius: 0;
}
.btn-plus
{
    border-right:0;
    color:#987230;
    font-size: 15px;
    font-weight: 800;
}
.btn-moins
{
    border-left: 0;
    color:#987230;
    font-size: 15px;
    font-weight: 800;
}
input[type="number"] {
    -webkit-appearance: textfield;
      -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }


  /* section services */
 
  .h3_service {
    padding-top: 20px;
    color: #987230;
    font-family: 'spartan', sans-serif;
  }
  .groupe-image {
      height:78px;
  }
  #Services {
      margin-top:30px;
  }
  .AllServices
  {
    margin-top: 40px;
  }
  /**========================================================================
   *                           SECTION LOGIN FORM
   *========================================================================**/
   .titre-connexion-espace
   {
     color:#4C4C4B;
     font-size: 2.2rem;
     text-align: center;
     margin-bottom: 30px;
   }
   .brown-text
   {
     color:#987230;
   }
   .cnx-box
   {
    box-shadow: 0px 0px 15px rgb(29 49 82 / 30%);
   
    background: #fff;
    border-radius: 10px;
    padding: 40px 70px !important;  
   }
   #form-login label,#inscription-form form#form-contact label[for=email],
   #inscription-form form#form-contact label[for=password],
   #inscription-form form#form-contact label[for=c_password]
   {
     color:#4C4C4B;
     font-family: 'Spartan-Bold';     
   }
   #inscription-form form#form-contact .form-check-label
   {
    font-family: 'Spartan-Bold';
   }
   #form-login input,#inscription-form form#form-contact input
   {
      background-color: rgba(250, 252, 254, 1);
      border: 1px solid #987230;
      height: 60px;
      border-radius: 10px;
   }
   #form-login input:focus
   {
    border: 1px solid #987230 !important;
   }
   .reset-password
   {
     text-align: center;
     color: #987230;
     font-family: 'spartan-light';
   }
   .btn-submit
   {
    border: none !important;
    border-radius: 10px !important;
    color: white !important;
    height: 60px !important;
    width: 100% !important;
    font-size: 18px !important;
    font-family: 'Spartan-Bold' !important;
    line-height: 22px !important;
    cursor: pointer !important;
    background: #987230 !important;
    position:absolute;
    top: -28px;
   }
   .btn-submit-container
   {
     position: relative;
   }
   /**============================================
    *               PARTIE MOBILE
    *=============================================**/

    @media only screen and (max-width: 600px)
    {
      .btn-add,.nav-link,.active
      {
        font-size: .6rem !important;
      }
      .nav-link
      {
        margin-bottom: 15px;
      }
      .nav-item::after
      {
        display: none;
      }
      .icon
      {
        width: 10px;
      }
      .h3_service
      {
        font-size: 1.2rem !important;
      }
      .proprietes-produit .row
      {
        border: none;
      }
      .proprietes-produit .row .col-lg-2
      {
        text-align: center;
        margin-bottom: 15px;
      }
    }
    /**============================================
     *               PARTIE IPAD
     *=============================================**/
     @media only screen and (max-width: 1023px) and (min-width: 768px)
     {
      .nav-link 
      {
        margin-bottom: 22px;
      }
     }
     /**============================================
      *               PARTIE IPADPRO
      *=============================================**/
      @media (max-width: 1169px) and (min-width: 992px)
      {
        .btn-add,.nav-link,.active
        {
          font-size: .8rem !important;
        }
        .nav-item::after
        {
          top: 53px;
          left: 86px;
        }
        select, select:active, select:focus
        {
          font-size: 1.2rem !important;
          width: 100% !important;
          outline: none;  
        }
        .label-qty
        {
          font-size: .5rem !important;
        }
        #qty[type=number] {
          text-align:left;
        }
      }
/**============================================
 *               Menu MOBILE
 *=============================================**/

.header-mobile{
  display: none;
}
@media only screen and (max-width: 767px) {
  .heady{
    display: none;
  }
  .header-mobile{
    padding: 9px 0;
    display: block;
  }
  #banner_carousel .dropdown{
    display: none;
  }
  .header-mobile .mobile{
    width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
  }
}

#menuToggle
{
  display: block;
  position: relative;
  left: 17px;
  padding-left: 10px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #987230;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #987230;
 }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 7px 0;
  color: #987230;
  font-size: 17px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/**slider**/
#slider .item img {
  width: 100%;
  height: auto;
}

/* back_to_top */
.back-to-top {
  position:fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5000;
  border: none !important;
  outline: none;
}
.back-to-top:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}