*,
*::before,
*::after{
    box-sizing: border-box;
}
:root{
    --ff-primary: Spartan-Bold, 'sans-serif';

    --clr-primary: #987230;
    --clr-secondary: #858585;
    --clr-white: #fff;
}
html, body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/********* GENERAL ************/
section{
    padding-top: 10px;
    padding-bottom: 10px;
}
h2{
    color: var(--clr-primary);
    font-family: 'Spartan-Bold';
    font-size: 40px;
}
.owl-nav button{
  outline: none !important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: none !important;
}

/********* NOS COLLECTIONS **********/
#nos-collections button.owl-next img {
  padding-left: 30px;
}
#nos-collections button.owl-prev img {
  padding-right: 30px;
}
#nos-collections .owl-carousel span{
    display: inline-block;
  }
#nos-collections .owl-carousel span.nos-collections-first{
    width: 19.35%;
}  
#nos-collections .owl-carousel span.nos-collections-second{
    width: 58%;
}
#nos-collections .owl-carousel span.nos-collections-third{
    width: 19.35%;
}
#nos-collections .owl-carousel span div{
    top: 0;
    left: 0;
}
.apercu{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    color: var(--clr-white);
    opacity: 0;
    transition: all .4s;
    font-size: 22px;
}
.apercu::after{
    position: absolute;
    right: -30px;
}
#nos-collections .owl-carousel span div:hover .apercu{
    opacity: 1;
}
.img-box {
    text-align: center;
    position: relative;
  }
  .img-box .box-content {
    width: 100%;
    height: 100%;
    background: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .img-box .icon,
  .img-box .title {
    transition: all 0.4s ease 0s;
  }
  .img-box:hover .box-content {
    background: rgba(0, 0, 0, 0.5);
  }
  .img-box .title {
    font-size: 24px;
    color: #fff;
	transform: scale(0) !important;
	position: relative;
	top: 70%;
	transform: translateY(-70%);
  }
  .nos-collections-first .img-box .title, .nos-collections-third .img-box .title{
    font-size: 12px;
  }
  .img-box:hover .title {
	transform: scale(1) !important;
	top: 60%;
  }
  .img-box .icon {
    list-style: none;
    padding: 0;
    margin: 0;
	opacity: 0;
	position: relative;
	top: 50%;
    transform: translateY(-50%);
  }
  .img-box:hover .icon {
    opacity: 1;
  }
  .img-box .icon li {
    display: inline-block;
    cursor: pointer;
  }
  .img-box .icon li a{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #fff;
    position: relative;
  }
  .nos-collections-first .img-box .icon li:first-child a, .nos-collections-first .img-box .icon li:last-child a,
  .nos-collections-third .img-box .icon li:first-child a, .nos-collections-third .img-box .icon li:last-child a,
  .nos-collections-third .img-box .icon li:nth-of-type(2) a, .nos-collections-first .img-box .icon li:nth-of-type(2) a {
    width: 32px;
    height: 32px;
  }
  .img-box .icon li a {
    top: -150px;
  }
  .img-box:hover .icon li a {
    top: 0;
  }
  .img-box .icon li:first-child a {
    transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  }
  .img-box .icon li:last-child a {
    transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
  }
  .img-box .icon li:nth-of-type(2) a {
    transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
  }
  @media screen and (max-width: 992px) {
    .img-box .title {
      font-size: 13px;
    }
    .img-box .icon li:first-child a, .img-box .icon li:last-child a, .img-box .icon li:nth-of-type(2) a {
      width: 24px;
      height: 24px;
    }
    .nos-collections-first .img-box .icon li:first-child a, .nos-collections-first .img-box .icon li:last-child a, .nos-collections-first .img-box .icon li:nth-of-type(2) a,
    .nos-collections-third .img-box .icon li:first-child a, .nos-collections-third .img-box .icon li:last-child a, .nos-collections-third .img-box .icon li:nth-of-type(2) a
    {
      width: 20px;
      height: 20px;
    }
  }

  @media screen and (max-width: 768px) {
  .small {
    display: none;
  }
}
/********* MEILLEURES COLLECTIONS **********/
#meilleures-collections .owl-nav{
    text-align: center;
}
#meilleures-collections button.owl-prev img{
    padding-right: 30px;
}
#meilleures-collections button.owl-next img {
    padding-left: 30px;
}
#meilleures-collections .owl-item .image-item{
    position: relative;
}
#meilleures-collections .owl-item h4 {
    color: var(--clr-primary);
}
#meilleures-collections .owl-item .image-item .overlay{
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(152, 114, 48, .4);
    height: 100%;
    width: 150px;
    opacity: 0;
    transition: all .4s;
}
#meilleures-collections .owl-item .image-item:hover .overlay{
    opacity: 1;
}
#meilleures-collections .overlay a img {
    width: 20px !important;
}
#meilleures-collections .overlay a:nth-child(1) img {
    position: absolute;
    right: 15px;
    top: 10px;
}
#meilleures-collections .overlay a:nth-child(2) img {
    position: absolute;
    right: 15px;
    top: 40px;
}
#meilleures-collections .overlay p.disp{
    position: absolute;
    top: 50%;
    font-size: 22px;
    left: 10px;
}
#meilleures-collections .overlay p.cat{
    position: absolute;
    bottom: 8%;
    font-size: 10px;
    left: 10px;
}
#meilleures-collections .overlay p.shop{
    position: absolute;
    bottom: 2%;
    font-size: 10px;
    left: 10px;
}
#meilleures-collections .overlay p{
    color: var(--clr-white);
}
/********/
.image-item {
	overflow: hidden;
  }
  
  .image-item,
  .image-item .icon li a {
	text-align: center;
  }
  .image-item .icon li {
	display: inline-block;
  }
  .image-item .icon{
	margin: 0;
	position: absolute;
  }
  .image-item {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	position: relative;
  }
  
 /* .image-item .box-content {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transform: perspective(400px) rotateX(-90deg);
	transform-origin: center top 0;
	transition: all 0.5s ease 0s;
  }*/
  .image-item .icon li a{
	background: var(--clr-primary);
	font-size: 17px;
	color: #fff;
  }
  /*.image-item:hover .box-content {
	opacity: 1;
	transform: perspective(400px) rotateX(0);
  }*/
 
  .image-item .icon {
	list-style: none;
	padding: 0;
	top: 42%;
	left: 0;
	right: 0;
  }
  .image-item .icon li a {
	display: block;
	width: 32px;
	height: 32px;
	line-height: 55px;
	border-radius: 50%;
	margin-right: 7px;
  }

  .image-item .icon a img{
	width: 20px;
    margin: auto;
    padding-top: 6px;
  }
 
  @media only screen and (max-width: 990px) {
	.image-item {
	  margin-bottom: 20px;
	}
  }
  /************* animation button searsh ***************/
  .search-anim li a  { 
	animation-duration: 1s;
	animation-name: searsh;
	animation-iteration-count: infinite;
  }
  
  @keyframes searsh {
	from {
		transform: scale(0.5);
	}
  
	to {
		transform: scale(1);
	}
  }

   .search-anim li a  { 
	  cursor: pointer;
  }
  
/********* NOS ARTICLES BUREAUTIQUES **********/

#articles-bureautiques .one-article{
  overflow: hidden;
  position: relative;
  width: fit-content;
}
#articles-bureautiques .one-article:before, .one-article:after{
  position: absolute;
  content: "";
}
#articles-bureautiques .article-icon div {
  margin-bottom: 15px;
}
#articles-bureautiques .one-article:before{
  width: 35%;
    height: 100%;
    background: rgba(152, 114, 48, .7);
    top: 0;
    left: 100%;
    z-index: 1;
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    border-left: 1px solid white;
}
#articles-bureautiques .one-article:hover:before {
  left: 66%;
}
#articles-bureautiques .one-article .article-hover .article-icon, 
#articles-bureautiques .one-article .article-hover .article-category
{
  width: auto;
  padding: 0 20px;
  position: absolute;
  right: 0;
  z-index: 2;
  transition: all 1.0s ease 0s;
}
#articles-bureautiques .one-article .article-hover .article-status
{
  width: auto;
  padding: 0 20px;
  position: absolute;
  left: 120%;
  z-index: 2;
  transition: all 1.0s ease 0s;
top:50%;
}
#articles-bureautiques .article-hover .article-icon{
  top: -100%;
  color: #fff;
}
#articles-bureautiques .one-article:hover .article-hover .article-icon{
  top: 15px;
}

#articles-bureautiques .article-hover .article-status{
  left:100%;
  top:50%;
}
#articles-bureautiques .one-article:hover .article-hover .article-status{
  left: 69%;
  top: 50%;
}

#articles-bureautiques .article-hover .article-category{
  left: 69%;
  bottom:-100%;
}
#articles-bureautiques .one-article:hover .article-hover .article-category{
  left: 69%;
  bottom: 15px;
}
#articles-bureautiques .article-hover h3{
  margin: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}
#articles-bureautiques .owl-nav{
    text-align: center;
}
#articles-bureautiques button.owl-next img {
    padding-left: 30px;
}
#articles-bureautiques button.owl-prev img {
    padding-right: 30px;
}

/********* NOS ARTICLES Before_After **********/
.carousel-nav-icon {
	height: 48px;
	width: 48px;
}
.carousel-item .col, .carousel-item .col-sm, .carousel-item .col-md {
	margin: 8px;
	height: 300px;
	background-size: cover;
	background-position: center center;
}

#comparison {
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
}
.figure1 {
	position: absolute;
	background-image: url('../img/Groupe28.png');
	background-size: cover;
	font-size: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}
.figure2 {
	position: absolute;
	background-image: url('../img/Rectangle30.png');
	background-size: cover;
	font-size: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}
.figure3 {
	position: absolute;
	background-image: url('../img/Rectangle31.png');
	background-size: cover;
	font-size: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}
#divisor {
	background-image: url('../img/Rectangle31.png');
	background-size: cover;
	position: absolute;
	width: 10%;
	box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
	bottom: 0;
	height: 100%;
}
#divisor1 {
	background-image: url('../img/Groupe28.png');
	background-size: cover;
	position: absolute;
	width: 10%;
	box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
	bottom: 0;
	height: 100%;
}
#divisor2 {
	background-image: url('../img/Rectangle30.png');
	background-size: cover;
	position: absolute;
	width: 10%;
	box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
	bottom: 0;
	height: 100%;
}
#divisor::before, #divisor::after {
	content: '';
	position: absolute;
	right: -2px;
	width: 4px;
	height: calc(50% - 25px);
	background: white;
	z-index: 3;
}
#divisor1::before, #divisor1::after {
	content: '';
	position: absolute;
	right: -2px;
	width: 4px;
	height: calc(50% - 25px);
	background: white;
	z-index: 3;
}
#divisor2::before, #divisor2::after {
	content: '';
	position: absolute;
	right: -2px;
	width: 4px;
	height: calc(50% - 25px);
	background: white;
	z-index: 3;
}
#handle {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1;
}
#handle1 {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1;
}
#handle2 {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1;
}

#handle::before {
	border-right: 6px solid white;
	left: 50%;
	margin-left: -17px;
}
#handle::after {
	border-left: 6px solid white;
	right: 50%;
	margin-right: -17px;
}
#handle1::before {
	border-right: 6px solid white;
	left: 50%;
	margin-left: -17px;
}
#handle1::after {
	border-left: 6px solid white;
	right: 50%;
	margin-right: -17px;
}
#handle2::before {
	border-right: 6px solid white;
	left: 50%;
	margin-left: -17px;
}
#handle2::after {
	border-left: 6px solid white;
	right: 50%;
	margin-right: -17px;
}
input[type=range] {

	-webkit-appearance: none;
	-moz-appearance: none;
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translateY(-50%);
	background-color: transparent;
	width: calc(100% + 50px);
	z-index: 2;
}
input[type=range]:focus, input[type=range]:active {
	border: none;
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
  background:url(../img/hand.png) !important;
	-webkit-appearance: none;
	border: none;
	height: 80px;
	width: 83px;
	z-index: 99;
}
input[type=range]::-moz-range-track {
	-moz-appearance: none;
	height: 15px;
	width: 100%;
	background-color: transparent;
	position: relative;
	outline: none;
}
#articles-bureautiques .overlay a:nth-child(1) img {
    position: absolute;
    right: 15px;
    top: 10px;
}
#articles-bureautiques .overlay a:nth-child(2) img {
    position: absolute;
    right: 15px;
    top: 40px;
}

#articles-bureautiques .overlay a:nth-child(3) img {
    position: absolute;
    right: 15px;
    top: 70px;
}
#articles-bureautiques .overlay p.disp{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    left: 10px;
}
#articles-bureautiques .overlay p.cat{
    position: absolute;
    bottom: 8%;
    font-size: 10px;
    left: 10px;
}
#articles-bureautiques .overlay p.shop{
    position: absolute;
    bottom: 2%;
    font-size: 10px;
    left: 10px;
}
#articles-bureautiques .image-item{
    position: relative;
}
.article-category h4 {
  color: #fff;
  font-size: 16px;
}

/**Responsive**/
.header-mobile{
  display: none;
}
@media only screen and (max-width: 767px) {
  .heady{
    display: none;
  }
  .header-mobile{
    padding: 9px 0;
    display: block;
  }
  #banner_carousel .dropdown{
    display: none;
  }
  .header-mobile .mobile{
    width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
  }
}

#menuToggle
{
  display: block;
  position: relative;
  left: 17px;
  padding-left: 10px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #987230;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #987230;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 7px 0;
  color: #987230;
  font-size: 17px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


/* back_to_top */
.back-to-top {
  display: none;
  position:fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5000;
  border: none !important;
  outline: none;
}
.back-to-top:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/********************* section actualités ************************/

#blog .h2_title {
  color: #987230;
  text-align: left;
  font-family: 'Spartan-Bold';
  font-size: 31px;    
 
}

#blog a{
    text-decoration: none;
    color: #AF7F41;;
    float:right;
    font-weight: 600;
    font-size: 18px;
}
#blog .row {
    justify-content: space-evenly;
}
#blog h3, #blog h5 {
    color:#987230;
}
#blog h5 {
    margin:15px 0px;
    font-weight: 400;
}
#blog p {
    text-align: justify;
    color: #858585;
    font-size: 16px;
}
#blog img {
    width:100%;
    margin-top:20px;
}
#blog .image-div {
    width:100% !important;
}
#blog .image-div #img-blog1 {
    width:100% !important;
}
#blog .image-div #img-blog2 {
    width:100% !important;
}

@media only screen and (max-width: 767px){

#blog a{
    font-size: 14px;
}

#blog img {
    margin-top:5px;
    margin-bottom: 20px;
}


/* responsive meilleur collection boutton pre et suiv */
@media only screen and (min-width: 768px) and (max-width: 1023px){
  #meilleures-collections button.owl-prev img {
    padding-right: 20px;
}
  #meilleures-collections button.owl-next img {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 767px) {

  #meilleures-collections button.owl-prev img {
    padding-right: 15px;
}
  #meilleures-collections button.owl-next img {
    padding-left: 15px;
  }
}}



