
 
      #nos_collection .quickview{
        padding: 50px;
      }

      #nos_collection .quickview a:link{
        text-decoration: none;
      }
      #nos_collection .quickview a:link:hover{
        text-decoration: none;
      }
      
     #nos_collection .h3_quickview{
      color: #987230;
      font-family: 'Spartan-Bold';
      margin-bottom: 55px;
     }
     #nos_collection .h6_quickview{
      color: #987230;
      font-family: 'Spartan-Bold';
     }
     #nos_collection .p_quickview {
      color: #987230;
      font-size: 9px;
      text-align: justify;
      font-family: 'Spartan-regular';
  }
  #chariot,#categ,#fav{
  background: #987230;
  width: 80%;
  padding: 5px;
  margin-top: 13px;
  margin-bottom: 13px;
  }
  #chariot a ,#categ a,#fav a{
    color: #fff;
    font-size:15px;
    font-family:'spartan-bold';
  }
  #img_fav{
    float: right;
    width: 27px;
  }
  #nos_collection .contenty{
    padding-top: 30px;
  }
  #ic_sortir{
    position: absolute;
    right: 0;
  }

  /** input quantité**/
  #nos_collection .flex1 {
    display: flex;
    flex-flow: row nowrap;
  }
  #nos_collection .flex1 .flex2 {
    justify-content: center;
    border: 1px solid #543A23;
  }
  #nos_collection #qty_number {
    border: none;
    color: #543A23;
    width: 38px;
    height: 32px;
    background: transparent;
    text-align: center;
  }
  #nos_collection input#qty_number[type=number]::-webkit-inner-spin-button,
  #nos_collection input#qty_number[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input#qty_number[type=number] {
    -moz-appearance: textfield;
  }
  #nos_collection #decrease_t ,#increase_t {
    background: transparent;
    color: #543A23;
    cursor: pointer;
    width: 28px;
    height: 32px;
    outline: none;
    font-size: 18px;
  }
  #nos_collection #decrease_t{
    border:none;
    border-right: 1px solid #543A23;
  }
  #nos_collection #increase_t{
    border: none;
    border-left: 1px solid #543A23;
  }
  #nos_collection #qty_number:focus,
  .btn-counter:hover,
  .btn-counter:focus {
    background-color: #fff;
    border: solid 2px #000;
    color: #000;
  }
  @media only screen and (max-width: 767px)  {
    #nos_collection .quickview {
      padding: 30px 15px;
  }
  #nos_collection .h3_quickview {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }

#chariot, #categ, #fav {
  margin: auto;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
#nos_collection .flex2{
  margin:auto;
}

.p_quickview {
  font-size: 8px;
}
  }


@media only screen and (min-width: 768px) and (max-width: 1023px)  {
  
  #chariot,#categ,#fav{
    background: #987230;
    width: 80%;
    padding: 3px;
    margin-top: 13px;
    margin-bottom: 13px;
    }
    #chariot a ,#categ a,#fav a{
      font-size:11px;
    }

    #img_fav {
      width: 24px;
  }

  .h3_quickview {
    margin-bottom: 25px;
    font-size: 26px;
}
.h6_quickview {
  font-size: 12px;
  margin-bottom: 4px;
}
#nos_collection .contenty {
  padding-top: 16px;
}
#w_b1{
  width: 50% !important;
}
#w_b2{
  width: 50% !important;
}
}


/** modal **/
#nos_collection .pad_off{
  padding: 0!important
}
#nos_collection .contanty_modal{
  background: transparent !important;
  border: none  !important;
}
#nos_collection .body_contente_modal{
  display: flex;
  padding:50px  !important;
  box-shadow: 0px 7px 5px #04050566 !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
}
#nos_collection .modal-dialog {
  max-width: 80%  !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
#nos_collection .close_btn{
  position: absolute;
  top: 15px;
  right: 15px;
  outline: none !important;
  border: none !important;
  background: none  !important;
  cursor: pointer;
}
#nos_collection .close_btn:hover{
  outline: none !important;
}
#nos_collection #img_exit{
  width: 25px;
  outline: none;
  vertical-align: inherit;
}
@media only screen and (max-width: 767px)  {
  #nos_collection .modal-dialog {
    max-width: 90% !important;
    margin: auto !important;
    margin-top: 20px!important;
    margin-bottom : 20px!important;
  }
  #nos_collection .body_contente_modal{
    display: block;
    padding:30px 0px !important;
  }
  
#nos_collection #img_exit{
  width: 18px;
}
#nos_collection .close_btn{
  position: absolute;
  top: 5px;
  right: 10px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px)  {
  #nos_collection .modal-dialog {
    max-width: 90%  !important;
    margin: auto !important;
  }
  #nos_collection .body_contente_modal{
    padding:20px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1439px)  {
#nos_collection .body_contente_modal{
    padding:30px !important;
  }
  
#nos_collection .modal-dialog {
  max-width: 90% !important;
}
#nos_collection .contenty {
  padding-top: 38px !important;
}
.h6_quickview {
  font-size: 13px !important;
}
#chariot a, #categ a, #fav a {
  font-size: 11px !important;
}
}


/* counter-wishlist */
#counter-wishlist{
  cursor: pointer;
  position: absolute;
  width: 17px;
  height: 17px;
  text-align: center;
  background-color: #987230;
  border-radius: 25px;
  color: white;
  z-index: 2;
  left: 52%;
  bottom: 41%;
  font-size: 11px;
  line-height: 1.6;
}
#wishlist-a{
  position: relative;
}