@font-face {
    font-family: 'Spartan-Thin';
    src: url('../fonts/Spartan-Thin.eot');
    src: url('../fonts/Spartan-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spartan-Thin.otf') format('otf'),
         url('../fonts/Spartan-Thin.ttf') format('truetype'),
         url('../fonts/Spartan-Thin.woff') format('woff'),
         url('../fonts/Spartan-Thin.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Spartan-SemiBold';
    src: url('../fonts/Spartan-SemiBold.eot');
    src: url('../fonts/Spartan-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spartan-SemiBold.otf') format('otf'),
         url('../fonts/Spartan-SemiBold.ttf') format('truetype'),
         url('../fonts/Spartan-SemiBold.woff') format('woff'),
         url('../fonts/Spartan-SemiBold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Spartan-Regular';
    src: url('../fonts/Spartan-Regular.eot');
    src: url('../fonts/Spartan-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spartan-Regular.woff') format('woff'),
         url('../fonts/Spartan-Regular.woff2') format('woff2'),
         url('../fonts/Spartan-Regular.ttf') format('truetype'),
         url('../fonts/Spartan-Regular.otf') format('otf');
  }
  @font-face {
    font-family: 'Spartan-Medium';
    src: url('../fonts/Spartan-Medium.eot');
    src: url('../fonts/Spartan-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spartan-Medium.woff2') format('woff2'),
         url('../fonts/Spartan-Medium.woff') format('woff'),
         url('../fonts/Spartan-Medium.ttf') format('truetype'),
         url('../fonts/Spartan-Medium.otf') format('otf');
  }
  @font-face {
    font-family: 'Spartan-Light';
    src: url('../fonts/Spartan-Light.eot');
    src: url('../fonts/Spartan-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spartan-Light.otf') format('otf'),
         url('../fonts/Spartan-Light.ttf') format('truetype'),
         url('../fonts/Spartan-Light.woff') format('woff'),
         url('../fonts/Spartan-Light.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Spartan-ExtraLight';
    src: url('../fonts/Spartan-ExtraLight.eot');
    src: url('../fonts/Spartan-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spartan-ExtraLight.woff2') format('woff2'),
         url('../fonts/Spartan-ExtraLight.woff') format('woff'),
         url('../fonts/Spartan-ExtraLight.ttf') format('truetype'),
         url('../fonts/Spartan-ExtraLight.otf') format('otf');
  }
  @font-face {
    font-family: 'Spartan-ExtraBold';
    src: url('../fonts/Spartan-ExtraBold.eot');
    src: url('../fonts/Spartan-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spartan-ExtraBold.otf') format('otf'),
         url('../fonts/Spartan-ExtraBold.ttf') format('truetype'),
         url('../fonts/Spartan-ExtraBold.woff') format('woff'),
         url('../fonts/Spartan-ExtraBold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Spartan-Bold';
    src: url('../fonts/Spartan-Bold.eot');
    src: url('../fonts/Spartan-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spartan-Bold.otf') format('otf'),
         url('../fonts/Spartan-Bold.ttf') format('truetype'),
         url('../fonts/Spartan-Bold.woff') format('woff'),
         url('../fonts/Spartan-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Spartan-Black';
    src: url('../fonts/Spartan-Black.eot');
    src: url('../fonts/Spartan-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Spartan-Black.otf') format('otf'),
         url('../fonts/Spartan-Black.ttf') format('truetype'),
         url('../fonts/Spartan-Black.woff') format('woff'),
         url('../fonts/Spartan-Black.woff2') format('woff2');
  }
  
  h1,h2,h3,h4,h5 {
     font-family: 'Spartan-Bold';
     color:#987230;
 }
body a:link{
     text-decoration: none;
}
body a:link:hover{
     text-decoration: none;
}
/* body classes*/
.h2_class{
  color: #987230;
  font-family: 'Spartan-Bold';
  font-size: 31px;
  margin-bottom: 48px !important;
}
.p_meilleures_collection{
  font-size: 17px;
  font-family: 'spartan-light';
  color: #987230;
  margin-top: 10px;
  margin-bottom: 0px;
}
.div_mc{
  border-bottom: 1px solid #46230E;
  width: 40%;
} 
.owl-nav{
  margin-top: 15px;
  margin-bottom: 15px;
}
/* end of body classes*/
 /************ header **************/

 #header_logo{
  width:120px ;
}
/*.{
  font-family: 'Spartan-Regular';
    border: none;
    color: #a57d2d;
    /* background: none !important;
    outline: none;
    float: right;
    clear: both;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
}*/
.heady .btn_newsletter {
  color: #987230;
  font-family: 'Spartan-Light';
  border: none;
  outline: none !important;
}
.heady .btn_newsletter:hover , .heady .btn_newsletter:focus {
  background: none;
  border: none;
  outline: none !important;
}
.heady .newsletter .ns_header button {
  background: #fff !important;
  padding: 6px 7px 7px 7px;
}
.heady .toogle_newsletter.show {
  width: max-content;
  background:rgba(38, 28, 20, 0.3);
  color: #fff;
  top: 9px !important;
  font-size: 21px;
  padding: 28px 55px 20px 29px;
}
.heady .newsletter.ns_header {
  background: #987230;
  display: inline-block;
  padding: 0px 0px 0px 6px !important;
  margin-bottom: 30px;
  width: 90%;
  border: none;
}
.heady .newsletter input::placeholder{
  color: white  !important;
  text-align: center;
  font-family: 'spartan-regular';
  
  font-size: 14px;
}
.heady .newsletter input {
  color:#fff;
}
.heady .btn_newsletter:focus {
    outline: none;
    box-shadow: none;
}
.heady .newsletter_txt{
  font-family: "spartan-thin";
  font-size: 20px;
  margin-bottom: 40px;
}

.heady{
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 50px !important;
     padding-left: 50px !important;
     position: sticky;
     top: 0px;
     background-color: #EEEDED;
     z-index: 100;
     box-shadow: 1px 1px 10px gray;
   }
   .my_input{
     font-family: 'Spartan-light';
     padding-left: 15px;
     font-size: 12px;
     outline: none;
     background: none;
     border: none;
     color: #fff;
     width: 80%;
     display: inline;
   }
   .my_btn_input{
     width: 20%;
     display: inline;
     padding-right: 2px;
     padding-left: 0;
     padding-top: 0;
     padding-bottom: 0;
     background: transparent;
     outline: none !important;
     border: none !important;
     box-shadow: none !important;
   }
   
    .my_input::placeholder{
     color: #fff;
   }
   button.btn.my_btn_input:hover {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
  }

   .recherch_block{
     padding: 0;
     height: 35px;
     width:200px;
     background: #9a8045;
     border-radius: 15px;
     display: flex;
   }
   .img_ic{
     padding:2px;
   }
   .icons{
     padding-left: 0px !important;
   }
   
  .navy{
     background: #592f0c70;
     position: sticky;
     top: 0;
     margin-left: 5px;
     padding-top: 20px;
     width: 60%;
   }
  .btn_collapse{
     padding: 0 10px;
     outline: none;
     border: none;
   }
   .heady .newsletter button{
    font-family: 'Spartan-Regular';
     border: none;
     color: #a57d2d;
     background: white !important;
     outline: none;
     float: right;
     clear: both;
     font-size: 14px;
     font-weight:bold ;
     padding: 7px 5px 5px 5px;
     
   }
  #navbar_id ul li a{
     padding-left: 50px !important;
     color: #fff;
   }
   @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .p_meilleures_collection{
      font-size: 15px;
    }
    .div_mc{
      width: 45%;
    }


    .heady .toogle_newsletter.show {
      padding: 20px 10px 20px 20px !important;
    }
    .heady .newsletter_txt {
      font-size: 16px !important;
    }
    .heady .newsletter {
      width: 100% !important;
      margin: auto;
  }
  .h2_class{
    color: #987230;
    font-family: 'Spartan-Bold';
    font-size: 27px !important;
    margin-bottom: 25px !important;
  }
  .h3_class{
    font-size: 23px !important;
  }
  .h5_class{
    font-size: 13px !important;
    margin: 0px !important;
  }
   }

   @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .p_meilleures_collection{
      font-size: 15px;
    }
    .div_mc{
      width: 50%;
    }
    .heady .toogle_newsletter.show {
      padding: 20px 20px 20px 20px !important;
    }
    .heady .newsletter_txt {
      font-size: 20px !important;
    }
   }
   /**========================================================================
    *                           SECTION SHOOPING CART
    *========================================================================**/
    .popup-cart
    {
      margin: 0;
      padding: 0;
      width: 340px;
      top: 80%;
      left: auto;
      right: 0;
      position: absolute;
      display: none;
      z-index: 99;
      text-align: left;
      text-decoration: none;
      color: #000;
    }
    .show
    {
      display: block!important;
    }  
    .hide
    {
      display: none !important;
    }   
    .popup-cart .content-cart 
    {
      background-color: #fff !important;
      border: 1px solid #f1f1f1 !important;
      margin-top: 17px;
    }
    .content-cart ul
    {
      list-style: none;
    }
    .img-cart-content
    {
      float: left;
      margin: 0 10px 0 0;
      position: relative;
      width: 87px;
    }
    .img-cart-content img
    {
      float: left;
      display: block;
    }
    .product-quantity
    {
      position: absolute;
      top: 5px;
      left: 5px;
      min-width: 20px;
      line-height: 20px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      padding: 0;
      text-align: center;
      color: #fff;
      font-size: 12px;
      display: inline-block;
      background: #987230;
    }
    .price-content
    {
      padding: 30px;
      overflow: hidden;
    }
    .price-content .value
    {
      color: #987230;
      font-weight: 700;
    }
    .checkout{
      padding: 0 30px 30px 30px;
    }
    .btn-checkout
    {
      display: block;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 15px;
      border: none;
      color: #fff;
      box-shadow: none;
      padding: 10px 15px;
      line-height: 25px;
      border-radius: 10px;
      background: #987230;
    }
   
   @media only screen and (min-width: 1024px) and (max-width: 1439px)  {
    .img_ic {
      width: 22px;
  }
  .recherch_block {
    width: 170px;
}
   }
     
   @media only screen and (min-width: 768px) and (max-width: 1023px)  {
    .heady {
      padding-right: 20px !important;
      padding-left: 20px !important;
    }
 
    .img_ic {
      width: 17px;
      padding: 0;
  }
  .padding_up{
    padding: 0 !important;
  }
  .recherch_block {
    width: 150px;
}

   }
   @media only screen and (max-width: 767px){
    .p_meilleures_collection{
      font-size: 13px;
    }
    .div_mc{
      width: 50%;
    }
    .recherch_block {
      display: none;
    }
    .icons{
      display: none;
    }
    .h2_class{
      font-size: 20px !important;
      margin-bottom: 15px !important;
    }
    .h3_class{
      font-size: 18px !important;
    }
    .h5_class{
      font-size: 13px !important;
      margin: 0px !important;
    }
   }
   /************ end header **************/







   

/************* footer ****************/



/**before footer ***/
.h_img {
  min-height: 80px;
}

.p_service {
  font-family: spartan-thin;
  font-size: 30px;
  color: #987230;
}
#Services{
  padding-top: 20px;
  box-shadow: 0px 7px 5px #05050699;
}
   footer{
     padding: 50px !important;
     width: 100%;
     background-color: #dddedd;
     margin-top:10px ;
   }
   .my_footer{
        margin-top: 20px;
   }
     footer ul li {
     list-style: none;
   }
   #footer_img_logo{
     width: 250px;
     margin-bottom: 30px;
   }
   .img_store{
     width: 20px;
     margin-right: 5px;
   }
   .store_div{
     
    font-family: 'Spartan-Regular';
     font-size: 14px;
     margin-top: 13px;
     margin-bottom: 30px;
     color: #4C4C4B;
   }
   .img_p{
     margin: auto;
     vertical-align: middle;
     padding-top: 20px;
     padding-bottom: 20px;
   }
   .div_img_p{
     margin: auto;
   }
   ul.list_title{
     margin: 0;
   
   }
   ul.list_title li{
     padding-top: 10px;
     padding-bottom: 10px;
   }
   .list_title a {
    font-size: 12px;
    font-weight: 700;
    color: #987230;
    font-family: 'Spartan-thin';
}
   li.list_item a{
    font-family: 'Spartan-thin';
    color: #4C4C4B;
    font-size: 12px;
    font-weight: 700;
   }
   li.list_item{
     
     padding-top: 10px;
     padding-bottom: 10px;
   }
   .listy1{
     padding-left: 15px;
   }
   .img_soc{
     width: 45px;
     margin: 2px;
   }
   .h6_footer{
     
    font-family: 'Spartan-Regular';
    color: #987230;
     font-weight: bold;
     line-height: 1.5;
   }
   .p_footer{
    font-family: 'Spartan-Regular';
     font-size: 18px;
     color: #4C4C4B;
   }
   .newsletter{
    border: 1px solid #97691E;
     padding: 3px 15px;
   }
   .news_div {
     margin-top: 42px;
   }
   .newsletter input{
     border: none;
     color:  #a57d2d;
     padding-left: 10px;
     outline: none;
     font-size: 12px;
     background: transparent;
   }
   
   .newsletter input::placeholder{
     color: #97691E;
     font-family: 'Spartan-Regular';
   }
   
   .newsletter img{
     width: 30px;
   }
   .newsletter button{
    font-family: 'Spartan-Regular';
     border: none;
     color: #a57d2d;
     background: none !important;
     padding-left: 5px;
     outline: none;
     float: right;
     clear: both;
     font-size: 14px;
     font-weight:bold ;
     padding-top: 3px;
   }
   .newsletter button:hover{
     color:  #5d5d5d;
   }
   .dr_block{
     margin-top: 30px;
     padding: 0;
   }
   
   .soc_p{
     font-family: 'Spartan-Regular';
     font-size: 16px;
     padding-top: 10px;
     color: #4C4C4B;
   }
   
   @media only screen and (min-width: 1024px) and (max-width: 1439px)  {
    
     .store_div{
         margin-bottom: 30px;
     }
     .listy1{
         padding-left: 8px;
     }
     ul.list_title li{
         padding-top: 10px;
         padding-bottom: 10px;
     }
     .list_title a{
         font-size: 10px;
     }
     li.list_item a{
         font-size: 10px;
     }
     .p_footer {
         font-size: 15px;
     }
     .newsletter{
         border: #a57d2d 2px solid;
         padding: 5px 10px;
     }
     .news_div{
         margin: inherit;
     }
     .newsletter input{
         font-size: 10px;
     }
     .newsletter button{
         padding-left: 5px;
         
         font-size: 12px;
     }
     .my_input {
          padding-left: 7px !important;
        }
     .my_btn_input{
          margin-right: 3px !important;
     }
   }
   
   
   @media only screen and (min-width: 768px) and (max-width: 1023px)  {
    .p_service {
      font-size: 23px;
    }
        
   footer{
     padding-right: 20px !important;
     padding-left: 20px !important;
     padding-bottom: 50px !important;
     padding-top: 50px !important;
   }
   #footer_img_logo{
     width: 200px;
     margin-bottom: 30px;
   }
   .p_footer {
     font-size: 17px;
   }
   .newsletter {
     width: 50%;
     margin: auto;
   }
   .news_div{
     margin-top:0;
   }
   .listy1 {
     padding-left: 40px;
   }
   }
   
   
   
   @media only screen and (min-width: 321px) and (max-width: 767px)  {
          
    .p_service {
      font-size: 15px;
    }
    .h_img img{
      height: 40px;
  
    }
    .h_img{
      min-height: 50px;
    }
     footer{
         
          padding-right: 15px !important;
          padding-left: 15px !important;
          padding-top: 30px !important;
          padding-bottom: 30px !important;
     }
     #footer_img_logo{
         width: 150px;
         margin-bottom: 0px;
     }
     .p_footer {
         font-size: 16px;
     }
     .news_div{
         margin:0 auto;
     }
     .store_div{
         margin-bottom: 0;
     }
     .newsletter button {
       font-size: 11px;
       padding-left: 0;
       padding-right: 0;
     }
     .store_div {
         font-size: 13px;
     }
     .listy1 {
         padding-left: 0px;
     }
     .listy2 {
         padding-left: 15px;
     }
     .h6_footer {
         font-size: 15px;
     }
     .newsletter img {
             width: 20px;
     }
   
     .newsletter {
         padding: 3px 7px;
     }
     
     .rs_div{
         text-align: center;
     }
     }
     @media only screen and (max-width: 320px){

      .h_img{
        min-height: 50px;
      }
      
    .h_img img{
      height: 40px;
  
    }
    .p_service {
      font-size: 15px;
    }
          footer{
               padding-right: 15px !important;
               padding-left: 15px !important;
               padding-top: 30px !important;
               padding-bottom: 30px !important;
          }
         #footer_img_logo{
             width: 150px;
             margin-bottom: 0px;
         }
         .p_footer {
             font-size: 16px;
         }
         .news_div{
             margin:0 auto;
         }
         .store_div{
             margin-bottom: 0;
         }
         .listy1 {
             padding-left: 0px;
         }
         .listy2 {
             padding-left: 0px;
         }
         .newsletter button {
             font-size: 10px;
             padding-top: 6px;
             padding-left: 0;
             padding-right: 0;
         }
         .store_div {
             font-size: 12px;
         }
   
         .newsletter {
             padding: 3px 7px;
         }
         .newsletter img {
         width: 20px;
         }
         .h6_footer {
             font-size: 15px;
         }
         .rs_div{
             text-align: center;
         }
         .img_soc {
             width: 44px;
         }
     }
/**************** end footer ***********/   

.dropdown {
  position: relative;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
  z-index: 1;
  right: 0px;
  border-radius: 5px;
  color: #987230;
  margin-top: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* owl carrousel */

.owl-dots {
  display: none;
}

img.addwishlist {
  cursor: pointer;
}