@font-face {
  font-family: 'Spartan-Thin';
  src: url(./Spartan-Thin.eot);
  src: url(./Spartan-Thin.eot?#iefix) format('embedded-opentype'),
       url(./Spartan-Thin.otf) format('otf'),
       url(./Spartan-Thin.ttf) format('truetype'),
       url(./Spartan-Thin.woff) format('woff'),
       url(./Spartan-Thin.woff2) format('woff2');
}
