@font-face {
  font-family: 'Spartan-Medium';
  src: url(./Spartan-Medium.eot);
  src: url(./Spartan-Medium.eot?#iefix) format('embedded-opentype'),
       url(./Spartan-Medium.woff2) format('woff2'),
       url(./Spartan-Medium.woff) format('woff'),
       url(./Spartan-Medium.ttf) format('truetype'),
       url(./Spartan-Medium.otf) format('otf');
}
