@font-face {
  font-family: 'Spartan-Light';
  src: url(./Spartan-Light.eot);
  src: url(./Spartan-Light.eot?#iefix) format('embedded-opentype'),
       url(./Spartan-Light.otf) format('otf'),
       url(./Spartan-Light.ttf) format('truetype'),
       url(./Spartan-Light.woff) format('woff'),
       url(./Spartan-Light.woff2) format('woff2');
}
