@font-face {
  font-family: 'Spartan-ExtraLight';
  src: url(./Spartan-ExtraLight.eot);
  src: url(./Spartan-ExtraLight.eot?#iefix) format('embedded-opentype'),
       url(./Spartan-ExtraLight.woff2) format('woff2'),
       url(./Spartan-ExtraLight.woff) format('woff'),
       url(./Spartan-ExtraLight.ttf) format('truetype'),
       url(./Spartan-ExtraLight.otf) format('otf');
}
