@font-face {
  font-family: 'Spartan-SemiBold';
  src: url(./Spartan-SemiBold.eot);
  src: url(./Spartan-SemiBold.eot?#iefix) format('embedded-opentype'),
       url(./Spartan-SemiBold.otf) format('otf'),
       url(./Spartan-SemiBold.ttf) format('truetype'),
       url(./Spartan-SemiBold.woff) format('woff'),
       url(./Spartan-SemiBold.woff2) format('woff2');
}
