@font-face {
  font-family: 'Spartan-Regular';
  src: url(./Spartan-Regular.eot);
  src: url(./Spartan-Regular.eot?#iefix) format('embedded-opentype'),
       url(./Spartan-Regular.woff) format('woff'),
       url(./Spartan-Regular.woff2) format('woff2'),
       url(./Spartan-Regular.ttf) format('truetype'),
       url(./Spartan-Regular.otf) format('otf');
}
