@font-face {
  font-family: 'Spartan-ExtraBold';
  src: url(./Spartan-ExtraBold.eot);
  src: url(./Spartan-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(./Spartan-ExtraBold.otf) format('otf'),
       url(./Spartan-ExtraBold.ttf) format('truetype'),
       url(./Spartan-ExtraBold.woff) format('woff'),
       url(./Spartan-ExtraBold.woff2) format('woff2');
}
