@font-face {
  font-family: 'Spartan-Black';
  src: url(./Spartan-Black.eot);
  src: url(./Spartan-Black.eot?#iefix) format('embedded-opentype'),
       url(./Spartan-Black.otf) format('otf'),
       url(./Spartan-Black.ttf) format('truetype'),
       url(./Spartan-Black.woff) format('woff'),
       url(./Spartan-Black.woff2) format('woff2');
}
