@font-face {
  font-family: 'Spartan-Bold';
  src: url(./Spartan-Bold.eot);
  src: url(./Spartan-Bold.eot?#iefix) format('embedded-opentype'),
       url(./Spartan-Bold.otf) format('otf'),
       url(./Spartan-Bold.ttf) format('truetype'),
       url(./Spartan-Bold.woff) format('woff'),
       url(./Spartan-Bold.woff2) format('woff2');
}
